In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("phi3-mediumn-results/ppl_summary_by_combo.csv")
df

,combo,n,mean_log_ppl,std_log_ppl,median_ppl,p95_ppl,mean_n_ctx_tokens,mean_n_cont_tokens,delta_log_ppl_vs_SAE_SAE,ppl_ratio_vs_SAE_SAE
0,AAE_AAE,16332,inf,NaN,166.865400,6613.544354,15.812760,13.486591,NaN,NaN
1,AAE_SAE,16332,inf,NaN,134.080116,7732.016699,15.812760,12.817475,NaN,NaN
2,SAE_AAE,16332,inf,NaN,165.566843,24087.797900,15.032574,13.319985,NaN,NaN
3,SAE_SAE,16332,inf,NaN,70.931793,NaN,15.032574,12.476549,NaN,NaN