In [1]:
import pandas as pd

In [2]:
import pandas as pd
import csv

# assign meaningful column names if you like
col_names = [
    'tweet_id', 'created_at', 'user_id', 'coords',
    'retweet_id', 'text',
    'score1', 'score2', 'score3', 'score4'
]

df = pd.read_csv(
    'twitteraae_all_aa',
    sep='\t',
    header=None,
    names=col_names,
    engine='python',               
    quoting=csv.QUOTE_NONE,        # treat all quotes as literal
    on_bad_lines='skip',           # drop any lines that still fail parsing
    dtype=str                      # read everything as string to avoid surprises
)

In [3]:
df.shape

(1149891, 10)

In [4]:
df.head()

,tweet_id,created_at,user_id,coords,retweet_id,text,score1,score2,score3,score4
0,293846693215096832,"""Tue Jan 22 22:24:45 +0000 2013""","""1028920752""","[-80.01040975, 32.80108357]","""450190027021""","""Click Clack Motha Fucka I ain't tryin to hear...",0.894545454545,0.0163636363636,0.0,0.0890909090909
1,288532237186646016,"""Tue Jan 08 06:27:00 +0000 2013""","""1040150983""","[-87.322161, 41.6006888]","""180890106001""","""Man imissed a called from my bae hella mad -_...",0.942,0.058,0.0,0.0
2,289899995472224257,"""Sat Jan 12 01:01:59 +0000 2013""","""1068611971""","[-78.85113963, 42.909513]","""360290033021""","""@devontekthomas OMG I keep sayin boo wen I me...",0.951111111111,0.0311111111111,0.0,0.0177777777778
3,289901379869351936,"""Sat Jan 12 01:07:29 +0000 2013""","""1068611971""","[-78.8510475, 42.90955088]","""360290033021""","""@devontekthomas I did not mean to say dat""",0.957142857143,0.0342857142857,0.0,0.00857142857143
4,289902453367910401,"""Sat Jan 12 01:11:45 +0000 2013""","""1068611971""","[-78.85107559, 42.90955579]","""360290033021""","""@devontekthomas awww u do too""",0.975,0.01,0.0,0.015

In [5]:
# Simple one-liner filter
filtered_df = df[df['text'].str.split().str.len() > 10]

print(filtered_df.shape)

(306944, 10)

## Removing double back slashes and non-ascci characters

In [10]:
import re

# your validity-checking function
def is_valid_sentence(sentence: str) -> bool:
    # Non-ASCII and control characters
    pattern1 = re.compile(r'[^\x00-\x7F]+|[\x00-\x1F\x7F]')
    # Backslashes
    pattern2 = re.compile(r'[\\]')
    return not (pattern1.search(sentence) or pattern2.search(sentence))

mask = filtered_df['text'].apply(is_valid_sentence)

keep only rows where textp passes the check

In [11]:
df_clean = filtered_df[mask].reset_index(drop=True)

In [12]:
df_clean.shape

(223289, 10)

In [13]:
from typing import List, Union

def find_text_indices(df: pd.DataFrame, substring: str, case: bool = False) -> List[int]:
    """
    Return a list of row indices where `df['text']` contains `substring`.
    
    Parameters
    ----------
    df : pd.DataFrame
        Your DataFrame, must have a 'text' column.
    substring : str
        The substring to search for.
    case : bool, default False
        If False, the search is case-insensitive.
    
    Returns
    -------
    List[int]
        List of integer indices.
    """
    # Build the boolean mask
    mask = df['text'].str.contains(substring, case=case, na=False)
    # Extract matching indices
    return df.index[mask].tolist()

In [24]:
find_text_indices(df_clean,"I wonder y I")

[21703, 114251]

In [25]:
df_clean.iloc[21703].text

'"I wonder y I can\'t keep a index nail on my right hand to save my life"'

In [26]:
df_clean[21704:26705].to_csv('new_recreated_dataset.csv', index=False)

In [34]:
check = pd.read_csv('new_recreated_dataset.csv')

In [35]:
check.head()

                                                text
0    "Man I need to oil my scalp my shit is itching"
1  "@demetrius_what naw she gone say I'm a hoe n ...
2  "I swear I don't sleep I mean I took a Motrin ...
3  "Now I'm thinking its a sinus headache my eyes...
4  "All these days I ain't been sleepy now I am smh"

In [36]:
check.shape

(5001, 1)

In [1]:
import pandas as pd

In [7]:
df1 =  pd.read_csv('new_sae_to_aae_dataset.csv')
df1

,original_aae_text,sae_text,aae_from_sae_text
0,"""""""Man I need to oil my scalp my shit is itchi...","Man, I need to oil my scalp—my head is itching.","Man, I gotta oil my scalp—my head itchin’."
1,"""""""@demetrius_what naw she gone say I'm a hoe ...","@demetrius_what No, she’s going to say I’m pro...","@demetrius_what Nah, she gon’ say I’m fast and..."
2,"""""""I swear I don't sleep I mean I took a Motri...",I swear I can’t sleep. I even took a Motrin an...,"Man, I swear I can’t even sleep. I done took a..."
3,"""""""Now I'm thinking its a sinus headache my ey...",Now I’m thinking it’s a sinus headache; my eye...,Now I’m thinkin it’s a sinus headache; my eyes...
4,"""""""All these days I ain't been sleepy now I am...","I haven't been sleepy all these days, and now ...","I ain’t been sleepy all these days, and now I ..."
...,...,...,...
4996,"""""""The main ones I thought was real they was f...",The main ones I thought were real turned out t...,The main ones I thought was real turned out to...
4997,"""""""Look you in ya eyes , snatching ya soul and...","Look you in your eyes, taking your soul and yo...","Look you dead in yo eyes, snatchin’ yo soul an..."
4998,"""""""Bol hee sayy these hoes be lien on hiss dic...",He said these women are lying about having sex...,He talkin’ ‘bout these women lyin’ on him sayi...
4999,"""""""Just got finish reading this love triangle ...",I just finished reading this love triangle boo...,I just got done readin’ this love triangle boo...
5000,"""""""Love means letting go of our fears, prejudi...","Love means letting go of our fears, prejudices...","Love mean lettin’ go of our fears, prejudices,..."

In [8]:
df1 = df1.drop(columns=['original_aae_text'])
df1.rename(columns={'aae_from_sae_text': 'aae_text'}, inplace=True)
df1

,sae_text,aae_text
0,"Man, I need to oil my scalp—my head is itching.","Man, I gotta oil my scalp—my head itchin’."
1,"@demetrius_what No, she’s going to say I’m pro...","@demetrius_what Nah, she gon’ say I’m fast and..."
2,I swear I can’t sleep. I even took a Motrin an...,"Man, I swear I can’t even sleep. I done took a..."
3,Now I’m thinking it’s a sinus headache; my eye...,Now I’m thinkin it’s a sinus headache; my eyes...
4,"I haven't been sleepy all these days, and now ...","I ain’t been sleepy all these days, and now I ..."
...,...,...
4996,The main ones I thought were real turned out t...,The main ones I thought was real turned out to...
4997,"Look you in your eyes, taking your soul and yo...","Look you dead in yo eyes, snatchin’ yo soul an..."
4998,He said these women are lying about having sex...,He talkin’ ‘bout these women lyin’ on him sayi...
4999,I just finished reading this love triangle boo...,I just got done readin’ this love triangle boo...
5000,"Love means letting go of our fears, prejudices...","Love mean lettin’ go of our fears, prejudices,..."

In [10]:
df2 = pd.read_csv('translated_datasets/complete_sae_to_aae_GPT4.1.csv')
df2

,sae_text,aae_text
0,She can't get anything from me except bubble g...,She can't get nothin' from me but some bubble ...
1,"@islandboi_B Yes, that's great. There's nothin...","@islandboi_B Yeah, that’s dope. Ain’t nothin’ ..."
2,"Mixed, huh!? Those very dark knees and elbows ...","Mixed, huh!? Dem real dark knees an’ elbows go..."
3,"@larrympaige @zionsays #FIGHT. People ask, ""Wh...",@larrympaige @zionsays #FIGHT. Folks always as...
4,Mike James from @mavs isn't anything and he's ...,Mike James from @mavs ain’t nobody and he real...
...,...,...
11326,"@ineedlove___ Haha, what girlfriend? I haven’t...","@ineedlove___ Lol, what girlfriend? I ain’t se..."
11327,"It's all good, man. Just give me a month... I'...","It’s all good, man. Just give me a month… I’m ..."
11328,I woke up this morning with an erection. I did...,I woke up this mornin’ hard. Ain’t even know w...
11329,"Hanging out at Mansion Elan tonight, going all...","Chillin at Mansion Elan tonight, we goin all i..."
11330,I wonder why I can't keep an index fingernail ...,I wonder why I can't never keep a index finger...

In [11]:
merged_df = pd.concat([df2, df1], ignore_index=True)
merged_df

,sae_text,aae_text
0,She can't get anything from me except bubble g...,She can't get nothin' from me but some bubble ...
1,"@islandboi_B Yes, that's great. There's nothin...","@islandboi_B Yeah, that’s dope. Ain’t nothin’ ..."
2,"Mixed, huh!? Those very dark knees and elbows ...","Mixed, huh!? Dem real dark knees an’ elbows go..."
3,"@larrympaige @zionsays #FIGHT. People ask, ""Wh...",@larrympaige @zionsays #FIGHT. Folks always as...
4,Mike James from @mavs isn't anything and he's ...,Mike James from @mavs ain’t nobody and he real...
...,...,...
16327,The main ones I thought were real turned out t...,The main ones I thought was real turned out to...
16328,"Look you in your eyes, taking your soul and yo...","Look you dead in yo eyes, snatchin’ yo soul an..."
16329,He said these women are lying about having sex...,He talkin’ ‘bout these women lyin’ on him sayi...
16330,I just finished reading this love triangle boo...,I just got done readin’ this love triangle boo...
16331,"Love means letting go of our fears, prejudices...","Love mean lettin’ go of our fears, prejudices,..."

In [12]:
merged_df.to_csv('translated_datasets/new_complete_sae_to_aae_GPT4.1.csv', index=False)